<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.careu">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Testprofile"></activity>
<!--        <activity android:name=".emergencyNumbers" />-->
<!--        <activity android:name=".emergencyNumbersOthers"></activity>-->
        <activity android:name=".emergencyNumbersOthers" />
        <activity android:name=".emergencyNumbersFire" />
        <activity android:name=".emergencyNumbersPolice" />
        <activity android:name=".emergencyNumbersHealth" />
        <activity android:name=".emergencyNumbersCate" />
        <activity android:name=".firstAidInstruction" />
        <activity android:name=".Pop1" android:theme="@style/AppTheme.CustomTheme"/>
        <activity android:name=".Pop2" android:theme="@style/AppTheme.CustomTheme"/>
        <activity android:name=".Pop3" android:theme="@style/AppTheme.CustomTheme"/>
        <activity android:name=".feedback" />
        <activity android:name=".request2" />
        <activity android:name=".request1" />
        <activity android:name=".myrequests" />
        <activity android:name=".edit_prof" />
<!--        <activity android:name=".my_profile" />-->
        <activity android:name=".myprofile" />
        <activity android:name=".ambulance" />
        <activity android:name=".forgetPassword" />
        <activity android:name=".policeEcomplain" />
        <activity android:name=".homePageDuplicate" />
        <activity android:name=".Testpage" />
        <activity android:name=".registrationPage" />
        <activity android:name=".homePage" />
        <activity android:name=".loginPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>